.App {
  text-align: center;
}

.MuiTypography-root {
  color: white;
}

.MuiTableCell-root {
  color: white !important;
}

.MuiPaper-root {
  background-color: #201E1D !important;
  border: #ED7D31 5px solid;
}